<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Posts</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <ul class="socials">
        <li class="socials-item">
          <a href="{{ site.social.github }}" target='_blank' class="socials-item-link"><i class="fab fa-github"></i></a>
        </li>
        <li class="socials-item">
          <a href="{{ site.social.twitter }}" target='_blank' class="socials-item-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="socials-item">
          <a href="{{ site.social.telegram }}" target='_blank' class="socials-item-link"><i class="fab fa-telegram"></i></a>
        </li>
        <li class="socials-item">
          <a href="{{ site.social.facebook }}" target='_blank' class="socials-item-link"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="socials-item">
          <a href="{{ site.social.linkedin }}" target='_blank' class="socials-item-link"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="socials-item">
          <a href="{{ site.social.youtube }}" target='_blank' class="socials-item-link"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved... Maybe.</p>
  </div>
</div>
